@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$cor1:#049DD9;
$cor2:#034AA6;

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}



.pag01{
    header{
        background-image: url(../img/SESSAO_02/1.png);
        height: 90px;
        .header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            width: 90%;
            height: 100%;
        }
        img{
            height: 60px;
        }
        ul{
            display: flex;
            list-style: none;
            height: 100%;
            li{
                font-size: 1.5em;
                padding: 5px;
                display: flex;
                align-items: center;
                margin: 0px 5px;
                a{
                    position: relative;
                    color: white;
                    text-decoration: none;
                }
            }
            li:hover{
                background-color: $cor1;
                a{
                    text-shadow: none;
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
    main{
        max-width: 1280px;
        margin: auto;
        .texto{
            margin: 20px;
            .tex{
                p{
                    margin-bottom: 30px;
                    font-size: 1.8em;
                    text-align: center;
                }
                h1{
                    color: #1D2874;
                    text-transform: uppercase;
                    font-size: 3.5em;
                    font-weight: 800;
                    text-align: center;
                    margin: 30px 0px;
                }

                a{
                    text-decoration: none;
                    button{
                        width: 80%;
                        border:1px solid #23A5D9;
                        text-shadow: 0 0 1px black;
                        text-transform: uppercase;
                        background-color: #81D959;
                        color: white;
                        font-weight: bolder;
                        border-radius: 10px;
                        padding: 18px;
                        margin: auto;
                        display: block;
                        margin-bottom: 10px;
                    }
                    button:hover, button:focus{
                        cursor: pointer;
                        background-color: #53fd04;
                        font-size: .9em;
                    }
                }
                .empresas{
                    margin-top:50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: row wrap;
                    img{
                        height: 70px;
                    }
                    p{
                        text-align: flex-start;
                    }
                }
            }
        }
    }
}

.pag02{
    background-image: url(../img/SESSAO_02/1.png);
    background-size: cover;
    
    main{
        width: 90%;
        margin: auto;
        padding: 20px 0px;
        color: white;
        .vantagens_formulario{
            margin-top: 50px;
            display: flex;
            flex-flow:row wrap;
            justify-content: space-between;
            .vantagens{
                flex: 1 1 400px;
                max-width: 600px;
                margin: auto;
                h1{
                    font-size: 2em;
                    margin-bottom: 20px;
                    text-align: center;
                }
                div{
                    margin: 15px;
                    border-radius: 15px;
                    padding: 8px;
                    border: 2px solid white;
                    background-image: linear-gradient(#1F2B79,#2D4EB8 );
                    margin-bottom: 20px;
                }
                p{
                    text-align: center;
                    strong{
                        font-size: 1.2em;
                        color: #8BD4FF;
                    }
                }
            }
            .formulario{
                flex: 1 0 300px;
                max-width: 350px;
                margin: auto;
                form{
                    border: 1px solid white;
                    padding: 10px;
                    margin-top: 20px;
                    border-radius: 15px;
                    display: flex;
                    flex-flow: column nowrap;
                    h3{
                        margin: 10px 0;
                    }
                    input, select{
                        border-radius: 15px;
                        padding: 15px;
                        margin-bottom: 8px;
                    }

                    button{
                        width: 100%;
                        border:1px solid #23A5D9;
                        text-shadow: 0 0 1px black;
                        text-transform: uppercase;
                        background-color: #81D959;
                        color: white;
                        font-weight: bolder;
                        border-radius: 15px;
                        padding: 15px;
                    }
                    button:hover, button:focus{
                        cursor: pointer;
                        background-color: #53fd04;
                        font-size: 1em;
                    }
                }
            }
        }
        .copy_1{
            padding: 30px 0;
        }

        img{
            display: block;
            margin: auto;
            max-width: 1000px;
            width: 90%;
        }
    }
}
.pag03{
    img{
        display: block;
        padding-top: 30px;
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    .assessoria{
        margin-bottom: 20px;
    }
    div{
        background-image: linear-gradient(#1D2874, #3054C4);
        border-radius: 15px;
        margin: auto;
        width: 80%;
        max-width: 500px;
        border: 1px solid black;
        padding: 20px 0;
        text-align: center;
        h3{
            color: white;
            margin: 10px 3px;
            strong{
                color: #8BD4FF;
                font-size: 1.2em;
            }
        }
        button{
            margin-bottom: 20px;
            border:1px solid #23A5D9;
            text-shadow: 0 0 1px black;
            text-transform: uppercase;
            background-color: #81D959;
            color: white;
            font-weight: bolder;
            border-radius: 15px;
            padding: 15px;
        }

        button:hover, button:focus{
            cursor: pointer;
            background-color: #53fd04;
            font-size: .9em;
        }

        p{
            margin: 5px;
            text-align: center;
            color: white;
            font-weight: 100;
        }
    }
    .logo_empresas{
        max-width: 350px;
    }

    .vagas_limitadas{
        padding: 5px;
        margin-top: 20px;
        color: white;
        background-color: #F20505;
        text-align: center;
    }
    
}

.pag04{
    display: block;
    margin: auto;
    background-image: url(../img/SESSAO_06/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30px;
    h3{
        margin: auto;
        font-size: 2em;
        max-width: 500px;
        color: white;
        padding: 20px;
        text-align: center;
        strong{
            color: #45BF41;
        }
        .alerta{
            color: red;
        }
    }
    img{
        display:block;
        width: 80%;
        max-width: 800px;
        margin: auto;
    }

    a{
        text-decoration: none;
    }

    button{
        min-width: 300px;
        max-width: 600px;
        border:1px solid #23A5D9;
        text-shadow: 0 0 1px black;
        text-transform: uppercase;
        background-color: #81D959;
        color: white;
        font-weight: bolder;
        border-radius: 10px;
        padding: 15px;
        margin: 30px auto;
        display: block;
        margin-bottom: 10px;
    }

    button:hover, button:focus{
        cursor: pointer;
        background-color: #53fd04;
        font-size: .9em;
    }

    .contato{
        margin: 50px auto;
        min-width: 240px;
    }
    
}

@media screen and (max-width:650px) {
    h1{
        font-size: 2em !important;
    }
    li, p{
        font-size: 1em !important;
    }

    header{
        img{
            height: 30px!important;
        }
    }

    .pag01{
        button{
            padding: 14px 0 !important;
        }
    }
}